{% assign app_count = include.apps | size %}

<a href="" id="{{ include.title | replace: ' ','' | downcase }}"></a>
<header class="col-xs-12">
    <h1 class="page-heading">{{ include.title }}</h1>
    <p><strong>{{ app_count }}</strong> apps, sorted by {{ include.sort-desc }}</p>
</header>

{% for app in include.apps %}
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="text-align: left; height: 200px;">
    <figure>
        <a href="ms-windows-store://pdp/?ProductId={{ app.ProductId }}">
            <img class="b-lazy" style="background-color: #eee" data-src="{{ app.Tile }}" height="100px" width="100px" />
        </a>
        <figurecaption>
            <p style="width: 100px; word-wrap:break-word">{{ app.Title }}</p>
        </figurecaption>
    </figure>
</div>
{% endfor %}